<h2 class="h4 fw-bold mb-4 color-default mt-3">Acciones Rápidas</h2>

<div class="row g-4 justify-content-center my-3">
  <div class="col-12 col-md-4">
    <button
      class="btn button-default w-100 py-4 d-flex flex-column align-items-center rounded-3"
      (click)="redirectTo('/users')"
    >
      <span
        class="transfer-circle rounded-circle bg-white d-flex align-items-center justify-content-center mb-2"
      >
        <i class="fa-solid fa-money-bill-transfer"></i>
      </span>
      <span class="fw-semibold">Gestión de usuarios</span>
    </button>
  </div>
  <div class="col-12 col-md-4">
    <button
      class="btn button-default w-100 py-4 d-flex flex-column align-items-center rounded-3"
      (click)="redirectTo('/reports')"
    >
      <span
        class="transfer-circle rounded-circle bg-white d-flex align-items-center justify-content-center mb-2"
      >
        <i class="fa-duotone fa-solid fa-users"></i>
      </span>
      <span class="fw-semibold">Reportes</span>
    </button>
  </div>
</div>

<h2 class="h4 fw-bold color-default">Estadísticas</h2>

<div class="stadistics-cards">
  @for (stat of statistics; track stat.title) {
  <div class="stadistics-cards-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> {{ stat.title }} </mat-card-title>
        <br />
      </mat-card-header>
      @for (item of stat.items; track item.label) {
      <div>
        <mat-card-content>
          <mat-progress-bar mode="determinate" [value]="item.value"></mat-progress-bar>
          <p>
            {{ item.label }} <span class="h5">{{ item.value }}</span>
          </p>
        </mat-card-content>
      </div>
      }
    </mat-card>
  </div>
  }
</div>
