<h2 class="h4 mb-4">Acciones Rápidas</h2>

<div class="shortcut-cards-container">
  <div class="shortcut-cards" (click)="redirectTo('/users')">
    <mat-card>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
            <mat-icon>supervisor_account</mat-icon>
      </div>
      <mat-card-title>Gestión de clientes</mat-card-title>
    </mat-card-header>
  </mat-card>
  </div>
  <div class="shortcut-cards"  (click)="redirectTo('/reports')">
    <mat-card>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
           <mat-icon>file_copy</mat-icon>
      </div>
      <mat-card-title>Reportes</mat-card-title>
    </mat-card-header>
  </mat-card>
  </div>

</div>

<h2 class="h4">Estadísticas</h2>

<div class="stadistics-cards">
  @for (stat of statistics; track stat.title) {
    <div class="stadistics-cards-container">
     <mat-card appearance="outlined">
       <mat-card-header>
         <mat-card-title> {{ stat.title }} </mat-card-title>
         <br>
       </mat-card-header>
       @for (item of stat.items; track item.label) {
         <div>
           <mat-card-content>
             <mat-progress-bar mode="determinate" [value]="item.value"></mat-progress-bar>
             <p>{{ item.label }} <span class="h5">{{ item.value }}</span></p>
           </mat-card-content>
         </div>
       }
     </mat-card>
   </div>
  }
</div>