
<div class="container py-4">
    <h4 class="fw-bold color-default ">Acciones rápidas</h4>
    <div class="row g-4 justify-content-center">
      <div class="col-12 col-md-4">
        <button
          class="btn button-default w-100 py-4 d-flex flex-column align-items-center rounded-3"
          (click)="redirectTo('transfers')"
        >
          <span
            class="transfer-circle rounded-circle bg-white d-flex align-items-center justify-content-center mb-2"
          >
            <i class="fa-solid fa-money-bill-transfer"></i> 
          </span>
          <span class="fw-semibold">Transferir dinero</span>
        </button>
      </div>
      <div class="col-12 col-md-4">
        <button
          class="btn button-default w-100 py-4 d-flex flex-column align-items-center rounded-3"
          (click)="redirectTo('transfers')"
        >
          <span
            class="transfer-circle rounded-circle bg-white d-flex align-items-center justify-content-center mb-2"
          >
            <i class="fa-solid fa-money-bill"></i>
          </span>
          <span class="fw-semibold">Pagar servicios</span>
        </button>
      </div>
      <div class="col-12 col-md-4">
        <button
          class="btn button-default w-100 py-4 d-flex flex-column align-items-center rounded-3"
          (click)="redirectTo('loans')"
        >
          <span
            class="transfer-circle rounded-circle bg-white d-flex align-items-center justify-content-center mb-2"
          >
            <i class="fa-solid fa-hand-holding-dollar blue-default"></i>
          </span>
          <span class="fw-semibold">Solicitar préstamo</span>
        </button>
      </div>
    </div>
</div>

<div class="p-3">
    <h4 class="fw-bold color-default color-default mb-4">Resumen de productos</h4>
    <div class="card mb-3">
        <div class="card-body px-5">
            <h6 class="card-title color-default fw-bold my-2"><i class="fa-solid fa-file-invoice"></i> Cuentas </h6>
            <div class="row">
            @if (accounts.length>0) {
                @for (account of accounts; track account.id) {
                <div class="col-sm-12 col-md-4 col-lg-3 p-3">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <h6 class="blue-default"><i class="fa-solid fa-circle"></i></h6>
                                </div>
                                <div class="ms-2">
                                    @if (account.type==='ahorro') {
                                        <h6 class="blue-default"> Cuenta de Ahorro</h6>
                                    } @else {
                                        <h6 class="blue-default"> Cuenta Corriente </h6>
                                    }
                                    <p class="text-warning fw-bold fs-4 mt-2 mb-1">S/. {{ account.balance | number:'1.2-2' }}</p>
                                    <p class="text-black-50 mb-0 small">Saldo total</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }@else{
                @if(mensajeAccount!==''){
                <div class="w-100 text-center">
                    <p>{{ mensajeAccount }}</p>
                </div>
                }
            }
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body px-5">
            <h6 class="fw-bold color-default card-title my-2"><i class="fa-solid fa-credit-card"></i> Tarjetas </h6>
            <div class="row">
            @if (cards.length>0) {
                @for (card of cards; track card.id) {
                <div class="col-sm-12 col-md-4 col-lg-3 p-3">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <h6 class="blue-default"><i class="fa-solid fa-circle"></i></h6>
                                </div>
                                <div class="ms-2">
                                    @if (card.type==='crédito') {
                                        <h6 class="blue-default"> Tarjeta de crédito</h6>
                                    } @else {
                                        <h6 class="blue-default"> Tarjeta de débito </h6>
                                    }
                                    <p class="text-warning fw-bold fs-4 mt-2 mb-1">S/. {{ card.limit | number:'1.2-2' }}</p>
                                    @if (card.type==='crédito') {
                                        <p class="text-black-50 mb-0 small">Línea de crédito disponible</p>
                                    } @else {
                                        <p class="text-black-50 mb-0 small">Saldo disponible</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }@else{
                @if(mensajeCard!==''){
                <div class="w-100 text-center">
                    <p>{{ mensajeCard }}</p>
                </div>
                }
            }
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body px-5">
            <h6 class="fw-bold color-default card-title my-2"><i class="fa-solid fa-hand-holding-dollar"></i>  Préstamos</h6>
            <div class="row">
            @if (loans.length>0) {
                @for (loan of loans; track loan.id) {
                <div class="col-sm-12 col-md-4 col-lg-3 p-3">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <h6 class="blue-default"><i class="fa-solid fa-circle"></i></h6>
                                </div>
                                <div class="ms-2">
                                    <h6 class="blue-default"> Préstamo</h6>
                                    <p class="text-warning fw-bold fs-4 mt-2 mb-1"> S/. {{ loan.amount | number:'1.2-2' }}</p>
                                    <p class="text-black-50 mb-0 small">{{ loan.status }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }@else{
                @if(mensajeLoan!==''){
                <div class="w-100 text-center">
                    <p>{{ mensajeLoan }}</p>
                </div>
                }
            }
            </div>
        </div>
    </div>
</div>
