
.app-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #194175;
    color: #ffffff;
    font-size: 1rem;
}

.app-toolbar .mat-icon{
    color: #ffffff;
}

.name-user{
    font-size: 1rem;
    margin-right: 5px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.sidenav-container{
    height: 100vh;
    padding-top: 64px;
}

.sidenav{
    width: 240px;
    background-color: #EEF2F5;
    padding-top: 64px;
    
}

.sidenav-content .content-wrapper{
    padding: 16px;
}

.buttonNew{
    margin-left: 10px;
}

/* ==== Sidenav Layout ==== */
.sidenav-container {
  height: 100vh;
  padding-top: 64px;
}

.sidenav {
  width: 350px;
  background-color: #f6fafc;
  border: 1px solid #eef2f5;
  padding-top: 64px;
  color: #86929e;
}

.sidenav-content .content-wrapper {
  padding: 16px;
}

.sidenav-title {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 26px 0;
  color: #2B3442;
}

/* ==== NavList Layout ==== */
mat-nav-list a.mat-mdc-list-item {
  padding-left: 3rem !important;
  span {
    font-weight: 500
  }
}
