.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.even-table {
    width: 100%;
    table-layout: fixed;
}

.color-default {
    color: #2B3442;
}