mat-card {
    border-radius: 12px;
}

table {
    th {
        background-color: #005CBB;
        color: white;
        text-align: center;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }
}

.circle-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #005CBB;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.table,
.table th,
.table td {
    border: none !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
    border-bottom: none !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
    text-align: center !important;
    vertical-align: middle !important;
}

.color-blue {
    color: #2B3442
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-stroked-button,
.mat-mdc-flat-button {
    border-radius: 0 !important;
}

.img {
    max-width: 300px;
    margin-bottom: 16px;
}

.chip-default {
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 24px;
}

.active {
    background-color: #005CBB;
}