<div class="container mt-4">
  <div class="my-4">
    <h5 class="fw-bold base-color">Solicita y/o simula tu préstamo</h5>
  </div>

  <div class="shortcut-cards-container">
    <div class="shortcut-cards" (click)="openRequest()">
      <mat-card class="bg-light text-dark">
        <mat-card-content class="d-flex align-items-center">
          <i class="fa-solid fa-money-bill-wave text-muted me-4 h8"></i>
          <!-- <i class="fa-duotone fa-solid fa-users text-muted me-4  h6"></i> -->
          <h6 class="text-muted">Solicitud de préstamos</h6>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="shortcut-cards" (click)="openSimulator()">
      <mat-card class="bg-light text-dark">
        <mat-card-content class="d-flex align-items-center">
          <i class="fa-regular fa-file-lines text-muted me-4 h6"></i>
          <h6 class="text-muted">Simulador de préstamos</h6>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-divider class="spacer"></mat-divider>

  @if (loading()) {

  <div class="table-header">
    <h5 class="fw-bold base-color">Detalle de préstamos</h5>
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="ID, cuenta, estado..."
      />
    </mat-form-field>
  </div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  }

  <!-- Estado: vacío -->
  @else if (dataSource.data.length === 0) {
  <div class="table-header">
    <h5 class="fw-bold base-color">Detalle de préstamos</h5>
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="ID, cuenta, estado..."
      />
    </mat-form-field>
  </div>
  <div class="empty">No hay préstamos registrados.</div>
  }

  <!-- Estado: con data -->
  @else {
  <div class="d-flex justify-content-between mb-3">
    <div>
      <h5 class="fw-bold base-color">Detalle de préstamos</h5>
    </div>
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="ID, cuenta, estado..."
      />
    </mat-form-field>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="table table-bordered mb-0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Nro. de crédito</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="accountId">
        <th mat-header-cell *matHeaderCellDef>ID Cuenta</th>
        <td mat-cell *matCellDef="let row">{{ row.accountId }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let row">
          {{ row.amount | currency : 'PEN' : 'symbol-narrow' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="installments">
        <th mat-header-cell *matHeaderCellDef>N° de cuotas</th>
        <td mat-cell *matCellDef="let row">{{ row.installments }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let row">{{ row.status | titlecase }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  }
</div>
