table {
  th {
    background-color: #005CBB;
    color: white;
    text-align: center;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }
}

.table,
.table th,
.table td {
  border: none !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-bottom: none !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-stroked-button,
.mat-mdc-flat-button {
  border-radius: 0 !important;
}

.shortcut-cards-container,
.stadistics-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.shortcut-cards {
  cursor: pointer;
  width: 30%;
}

.spacer {
  margin: 2rem 0rem;
}

.filter {
  width: 240px;
}

.table-wrapper {
  overflow: auto;
}

.empty {
  padding: 24px;
  color: #5f6368;
}

.base-color {
  color: #2B3442;
}

